<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="static/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/layout.css">
    <title>ANASAYFA</title>
  </head>
  <body >
      <div id="header"> 
        <div id="main_title">
          <div class="background">
          </div>
          <h1 id="main_head" >COĞRAFİ BİLGİ SİSTEMLERİ WEB UYGULAMASI</h1>
        </div>
        <div class="logo2">
          <img class="logo3" 
          src="static/logo.png" alt="logo">
        </div>
      </div>
      <div id="nav"> 
        <ul style="list-style-type: none;">
          <a href="index.html">
          <li id="homepage" >ANASAYFA </li>
        </a>
        <a href="cbs_map.html">
          <li id="gis_view">HARİTA</li></a>
          <li id="about_us">HAKKIMIZDA</li>
          <li id="contact">İLETİŞİM</li>
        </ul>
      </div>

      <div id="container">
        <div id="updates_and_news">
          <ol id="news">
            <li>Web Tasarımına Başlanıldı.</li>
            <li>asdasdasd</li>
            <li>asdasdasd</li>
          </ol>
        </div>
        <div id="images"></div>
      </div>

      <div id="footer"> 
        <p id="altyazi">Bu website, Bilal Benzer tarafından oluşturulmuştur.</p>
      </div>
  </body>
</html>