{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>HOME PAGE</title>

        <body>
            <h1> WELCOME TO MY GIS APP </h1>            
            <img src="{% static 'homepage.jpg' %}" alt="homepage" id="homepage">
            <style>
                #homepage {
                    width:100%;
                    height: 100%;
                    background-position: 100%;   
                }          
            </style>
        </body>
    </head>
</html>