#container{
    position: static;
    width: 95%;
    height: 500px;
    overflow: hidden;
}
#updates_and_news{
    border-radius: 25px;
    background-color: aliceblue;
    opacity: 0.5;
    color: rgb(255, 0, 0);
    float: left;
    width: 15%;
    height: auto;
    font-size: 20pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
}
#news{
    list-style-type:lower-roman;
}
#images{
    background-color: aliceblue;
    opacity: 0.5;
    border-radius: 25px;
    float: right;
    width: 84%;
    height: auto;
}